{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

 <main>
  <section>
    <div class="form" >
  <h1 class="form_title">Create user</h1>

  <form method="POST" action="/user-create">
    <div class="form_content">
      <div class="form_field">
        <label for="email" class="form_label">Email adress:</label>
        <input type="email" name="email" class="form_input">
      </div>
      <div class="form_field">
        <label for="login" class="form_label">Login:</label>
        <input type="login" name="login" class="form_input">
      </div>
      <div class="form_field">
        <label for="password" class="form_label">Password:</label>
        <input type="password" name="password" class="form_input">
      </div>
      <button class="form_button">Create</button>
    </div>
  </form>
</div>

  </section>

<section>
   <div class="form" >
  <h1 class="form_title">Create users</h1>

  <div class="user-list">
    {{#with data.users}}
      {{#if isEmpty}}
       <mark>Not users</mark>
      {{else}}
      <ul>
      {{#each list}}
        <li>{{email}} | {{login}} | {{id}} <a href="/user-delete?id={{id}}">(Delete)</a></li>
      {{/each}}
       </ul>
       {{/if}}
    {{/with}}
  </div>
</div>

</section>

<section>
    <div class="form" >
  <h1 class="form_title">Update email user</h1>

  <form method="POST" action="/user-update">
    <div class="form_content">

      <div class="form_field">
        <label for="id" class="form_label">ID:</label>
        <input type="id" name="id" class="form_input">
      </div>

      <div class="form_field">
        <label for="email" class="form_label">New Email adress:</label>
        <input type="email" name="email" class="form_input">
      </div>
      
      <div class="form_field">
        <label for="password" class="form_label">Password:</label>
        <input type="password" name="password" class="form_input">
      </div>
      <button class="form_button">Send</button>
    </div>
  </form>
</div>

  </section>
 </main>


{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}